.datatable .rdt_TableCell{
    font-size:15px;
}
.datatable .rdt_TableCol{
    font-size:17px;

}
.container {
    margin: 10px;
    max-width: 100%;
}
.btn{
    width: 75px;
}
.btn-primary{
    margin-top: 15px;
    margin-right: 10px;
}
.btn-danger{
    margin-left: 10px;
}
